body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


/* -----------top contact----------------- */

.top-con {
    background-color: black;
}

.contact1 p span a,
.contact2 p span a {
    color: white;
    text-decoration: none;
}

.contact2 {
    text-align: end;
}

.hidden-row {
    display: none;
}


/* -----------navbar------------------------- */

.navbar {
    margin-top: 47px;
    background-color: white;
}

.navbar-brand {
    width: 30%;
    text-align: center;
}

.navbar-brand img {
    width: 30%;
}

nav ul {
    justify-content: center;
    width: 100%;
}

.navv-li {
    padding-left: 20px;
}

.nav-link {
    font-weight: bolder;
    font-size: 16px;
}


/* ----------sliders--------------- */

.carousel {
    margin-top: 130px;
}


/* ----------below slider icons-------------- */

.below-slider-icons {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #7e78781f;
}

.below-slider-icons .container .row .col i {
    margin-bottom: 25px;
    font-size: 48px;
    color: #f6b60b;
}

.below-slider-icons .container .row .col h4 {
    font-size: 18px;
    font-weight: 700;
}

.about-contf {
    padding-bottom: 60px;
    padding-top: 70px;
}

.about-c h4 {
    text-shadow: -1px 1px 0px red;
    margin-bottom: 90px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.about-c h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}

.about-c img {
    margin-left: 20px;
    float: right;
    width: 40%;
}

.about-c p {
    font-weight: 500;
    text-align: justify;
    font-size: 15px;
}

.small-screen {
    display: none;
}


/*--------------------- what we do----------------------------- */

.what-we-do {
    padding-bottom: 50px;
    padding-top: 80px;
    background-color: #f8b81d;
}

.what-we-do .container h4 {
    text-align: center;
}

.what-we-do .container .row .col {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.what-we-do .container .row .col img {
    padding-bottom: 1px;
    border-bottom: 1px solid #0389ff;
    height: 50%;
    width: 100%;
}

.what-we-do .container .row .col h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.what-we-do .container .row .col p {
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}


/*---------- gallery------------------------ */

* {
    box-sizing: border-box;
}

.Portfolio-Gallery {
    width: 100%;
}


/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


/* Add padding BETWEEN each column (if you want) */

.row,
.row>.column {
    padding: 8px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide columns by default */
}


/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */

.content {
    background-color: white;
    padding: 10px;
}


/* The "show" class is added to the filtered elements */

.show {
    display: block;
}


/* Style the buttons */

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}


/* Add a grey background color on mouse-over */

.btn:hover {
    background-color: #ddd;
}


/* Add a dark background color to the active button */

.btn.active {
    background-color: #666;
    color: white;
}


/*------------------------ footer------------------- */


/* about---- */

.foot {
    background-color: black;
    color: white;
}

.fabout h6 {
    font-size: 17px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-icons {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-icons a {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-decoration: none;
}


/* 
.fabout .row .col a {
    color: white;
    text-decoration: none;
}
*/

.fabout .row {
    padding-bottom: 5;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.fabout .row a {
    color: white;
    text-decoration: none;
}

.fabout img {
    margin-bottom: 15px;
    width: 60%;
}