@media (min-width:320px) and (max-width:480px) {
    .what-we-do {
        margin-top: 165px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .what-we-do {
        margin-top: 165px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .what-we-do {
        margin-top: 140px;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    .what-we-do {
        margin-top: 140px;
    }
}

@media(min-width:1201px) {
    .what-we-do {
        margin-top: 140px;
    }
}